<div class="sidebar pure-u">
    <div class="cover-img" style="background-image: url('{{ COVER_IMG_URL }}')">
        <div class="cover-body">
            <header class="header">
                <hgroup>
                    <h1 class="brand-main"><a href="/">{{ SITENAME }}</a></h1>
                    <p class="tagline">{{ TAGLINE }}</p>
                {% for title, link in MENUITEMS %}
                    <p class="links"><a href="{{ SITEURL }}/{{ link }}">{{ title }}</a></p>
                {% endfor %}
                    <div class="searchbar">
                        <form class="navbar-search" action="{{ SITEURL }}/search.html"
                            onsubmit="return validateForm(this.elements['q'].value);">
                            <input type="text" class="search-query" placeholder="Search"
                                name="q" id="tipue_search_input" />
                        </form>
                    </div>
                    <p class="social">
                {% for title, link in SOCIAL %}
                        <a href="{{ link }}" target="_blank">
                            <i class="fa fa-{{ title }} fa-3x"></i>
                        </a>
                {% endfor %}
                    <p>
                </hgroup>
            </header>
        </div>
    </div>
</div>
